body {
  font-family: sans-serif;
  width: 250px;
  padding: 15px;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-display {
  width: 100%;
  gap: 10px; /* Space between flex items */
  height: 100px;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.controls {
  display: flex;
  width: 100%;
}

.input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.hex-input {
  flex-grow: 1;
  height: 40px;
  padding: 0 40px 0 10px; /* Add padding to the right for the button */
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  text-transform: uppercase;
  box-sizing: border-box;
  outline: none;
}

.eyedropper-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #EEEEEE;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 8px 8px 0; /* Rounded corners only on the right */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyedropper-btn:hover {
  background-color: #e0e0e0;
}